*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
body{
    
    font-family: 'Lato', sans-serif;
        position: relative;
        min-height: 100vh;
        width: 100%;
}
.sidebar{
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 78px;
    background-color: #11101d;
    padding: 6px 14px;
    transition: all 0.4s ease;
    box-shadow:  0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 8px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.sidebar.active{
    width: 240px;
}

.sidebar .logo{
    color: white;
    height: 40px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
.sidebar.active .logo{
    opacity: 1;
    pointer-events: none;
    
}
.sidebar .logo #name h5{
    margin-top: -29px;
    font-size: 22px;
    margin-left: 75px;
    font-weight: 500;
    /* transition: all 0.2s ease; */
}
.sidebar .logo #name{
    opacity: 0;
    color: #fff;
    font-weight: 100;
    text-decoration: underline rgb(2, 76, 2);
}

.sidebar.active .logo #name{

    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    color: rgb(219, 218, 218);
    font-size: 25px;
    transition: all 0.2s ease-in;
}

.sidebar ul li a span #logo_home_img{
    width: 27px;
    margin-top: 15px;

}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.5);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 99;

}
.sidebar.active ul li .tooltip{
    display: none;
    z-index: 1;
}
.sidebar ul li:hover .tooltip{
    z-index: 99;
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar .menu_btn{
    cursor: pointer;
    position: absolute;
    color: white;
    left: 55%;
    top: 10px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    border-radius: 12px;
    padding: 4px;
}
.sidebar .menu_btn:hover{
    position: absolute;
    color: #11101d;
    background:#fff;
    transition: all 0.4s ease;
    border-radius: 12px;
}
.sidebar.active .menu_btn{
    left: 85%;
}
.sidebar.active .menu_btn #btn{
   opacity: 0;
}
.sidebar .menu_btn #btn_close{
    opacity: 0;
}
.sidebar.active .menu_btn #btn_close{
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 13px;
    transition: all 0.4s ease;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
}
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidebar ul li span{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.nav_list{
    left: 0;
}
.home_content{
    position: absolute;
    height: 100%;
    left: 85px;
    width: calc(100%-78px);
    transition: all 0.4s ease;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin-top: 12px;
}
/* .sidebar.active ~ .home_content{
    width: calc(100%-240px);
    left: 260px;
} */
.tab-content{
    height: 100%;
    width: calc(100%-78px);
    position: absolute;
    opacity: 0;
}
.tab-content.active{
    position: fixed;
    opacity: 1;
    width: 93%;
    height: 97%;
    margin: 0 auto;
    left:97px;
    top: 10px;
    box-shadow:  0px 5px 8px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: px;
    background-color: #f2f2f2;
    padding: 20px;
    transition: all 0.3s ease;
}
.sidebar.active ~ .home_content{
    width: 82%;
    left: 260px;
}
.sidebar.active ~ .tab-content{
    width: 82%;
    left : 260px;
}
.tab-content iframe{
    margin: -5px;
    padding: 5px;
    border:0;
    border-radius: 5px;
}


/* --------------------Student_life------------------------ */
html{
    scroll-behavior: smooth;
}
.home_content{
    width: 94%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* background-color: red; */
}
.navbar{
    display: flex;
}
.navbar .page{
    display: flex;
    background: linear-gradient(to right,#11101d,rgba(0, 0, 0, 0));
    position: absolute;
    margin-top: 1.5rem;
    width: 90%;
    height: 5%;
}
.navbar .page .page_info{
    padding: 10px;
    color: white;
}
.navbar .page .page_info p{
    margin-top: 0.5rem;
    font-size: 20px;
}
.navbar .page .page_info .material-symbols-outlined{
    margin-top: 0.5rem;
}
.gla_logo{
    position: absolute;
    right: 0;
    margin-top: 1%;
    margin-right: 1rem;
}


.overview_image{
    width: 100%;
    height: 30rem;
    margin-top: 8%;
    
}
#student-life .overlay{
    position: absolute;
    top:8%;
    background: linear-gradient(to top, black,rgba(0, 0, 0, 0));
    color: #fff;
    height: 500px;
    width: 100%;
}
#student-life .overlay h1{
    margin-top: 430px;
    margin-left: 100px;
    font-size: 50px;
}

#student-life .info{
    display: flex;
    width: 80%;
    height: auto;
    margin-left: 9%;
    margin-top: 5%;
}
#student-life .para{
    padding-left: 15rem;
    font-size: 18px;
    color: rgba(19, 19, 19, 0.871);
    font-family: Arial, Helvetica, sans-serif;
}
#student-life .heading h2{
    font-size: 35px;
    text-decoration: underline green;
}
.space{
    width: 95%;
    height: 5rem;
    background-color: white;
}
/* ----------------------------------------------------------- */




/* ------------Tab Content--------------- */

.tab-content iframe{
    width: 100%;
    height: 100%;
}


/* ---------------------------------------------- */



@media only screen and (max-width: 576px) {
    .tab-content.active{
        width: 80.5%;
      }
    
  }
  
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .tab-content.active{
        width: 80.5%;
      }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .tab-content.active{
        width: 85.5%;
      }
  }
  
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tab-content.active{
        width: 89%;
      }
  }
  

  @media only screen and (min-width: 1200px) {
    .tab-content.active{
        width: 93%;
      }
  }
  