*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
body{
    
    font-family: 'Lato', sans-serif;
        position: relative;
        min-height: 100vh;
        width: 100%;
        overflow-y:scroll!important;
        overflow-x: hidden;
}


.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin-top: 12px;
}

html{
    scroll-behavior: smooth;
}
.home_content{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* background-color: red; */
}
.navbar{
    display: flex;
}
.navbar .page{
    display: flex;
    background: #11101d;
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 4%;
    padding-left: 3%;
}
.navbar .page .page_info{
    padding: 10px;
    color: white;
}
.navbar .page .page_info p{
    margin-top: 0.5rem;
    font-size: 20px;
}
.navbar .page .page_info .material-symbols-outlined{
    margin-top: 0.5rem;
}

#council .overlay{
    position: absolute;
    top:14%;
    background: linear-gradient(to top, black,rgba(0, 0, 0, 0));
    color: #fff;
    height: 500px;
    width: 100%;
}

#council .info{
    width: 80%;
    height: auto;
    margin-left: 9%;
    margin-top: 5%;
}
#council .para{
    width: 50%;
    font-size: 18px;
    color: rgba(19, 19, 19, 0.871);
    font-family: Arial, Helvetica, sans-serif;
}
#council .heading h2{
    font-weight: 100;
    font-size: 35px;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: rgb(0, 29, 114);
}
/* .space{
    width: 95%;
    height: 5rem;
    background-color: #f2f2f2;
} */

.council_image{
    width: 100%;
    height: 38rem;
    margin-top: 8%;
    bottom: 0;
}
.image_text{
    display: flex;
    width: 95%;
}
.image_text .text{
    margin-top: 18rem;
    padding: 2rem;
    color: white;
}
.image_text h1{
    margin-left: 2rem;
    width: 32rem;
    text-decoration: underline green;
}
.image_text p{
    font-size: 18px;
    margin-top: 10px;;
}
hr{
    margin-left: 12%;
}
.data{
    display: flex;
}
.data .photo{
    margin-left: 60%;
    width: 250px;
    height: 200px;
    position: absolute;
}
.data img{
    width:250px;
    height: 200px;
}

/* ------------hierarchy-------------- */



.container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    top: 30%;
    /* adjust the size of the container to fit your image */
  }
  
  .circular-animation {
    position: absolute;
    width: 150px;
    height: 150px;  
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* set the image position to the center of the container */
    animation-name: circular-move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* set the animation properties */
  }
  
  @keyframes circular-move {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

/* ------------hierarchy-------------- */

.footer{
    width: 100%;
    height: 10rem;
    color: #fff;
    background-color: #11101d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.footer .footer_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .footer_content .footer_info{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  