*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
body{
    
    font-family: 'Lato', sans-serif;
        position: relative;
        min-height: 100vh;
        width: 100%;
        
}
html{
    scroll-behavior: smooth;
}

.home_content{
    width: 100%;
    height: auto;
    overflow-y: scroll;
    display: block;
    /* background-color: red; */
}
#icon{
    color: white;
}

.navbar .page{
    display: flex;
    background: #11101d;
    margin-top: 0;
    width: 100%;
    height: 4%;
    padding-left: 3%;
}
.navbar .page .page_info{
    padding: 10px;
    color: white;
}
.navbar .page .page_info p{
    margin-top: 0.5rem;
    font-size: 20px;
}
.navbar .page .page_info .material-symbols-outlined{
    margin-top: 0.5rem;
}
#sports{
    display: block;
}
#sports h1{
    margin-left: 38%;
    margin-top: 3%;
    font-size: 40px;
    color: rgb(0, 29, 114);
}
.p_card{
    display: flex;
}
.card{ 
    width: 40%;
    height: 400px;
    background-color: rgba(141, 177, 255, 0.115);
    margin-left: 6.5rem;
    margin-top: 3%;
    opacity: 0.85;
    border-radius: 15px;
    box-shadow:  0px 8px 20px 1px rgba(0, 0, 0, .1), 0 8px 20px 5px rgba(0, 0, 0, .1);
}
fieldset{
    margin: 15px;
    height: 350px;
}
legend{
    font-size: 30px;
    margin-left: 20px;
    color: rgb(13, 99, 0);
}
.img{
    transition:all 0.3s ease;
    float:left;
    margin: 7px;
    height: 150px;
    width:250px;
}
.img:hover{
   transform: translateY(-5%);
   box-shadow:  0px 8px 30px 1px rgba(0, 0, 0, .3), 0 8px 20px 5px rgba(0, 0, 0, .3);
}
span{
    
    font-size: 20px;
    color: rgb(4, 0, 58);
}