*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
body{
    
    font-family: 'Lato', sans-serif;
        position: relative;
        min-height: 100vh;
        width: 100%;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin-top: 12px;
}

html{
    scroll-behavior: smooth;
}
.home_content{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* background-color: red; */
}
.navbar{
    display: flex;
}
.navbar .page{
    display: flex;
    background: #11101d;
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 4%;
    padding-left: 3%;
}
.navbar .page .page_info{
    padding: 10px;
    color: white;
}
.navbar .page .page_info p{
    margin-top: 0.5rem;
    font-size: 20px;
}
.navbar .page .page_info .material-symbols-outlined{
    margin-top: 0.5rem;
}
.gla_logo{
    position: absolute;
    right: 0;
    margin-top: 1%;
    margin-right: 1rem;
}

#council .overlay{
    position: absolute;
    top:13%;
    background: linear-gradient(to top, black,rgba(0, 0, 0, 0));
    color: #fff;
    height: 500px;
    width: 100%;
}

#council .info{
    width: 80%;
    height: auto;
    margin-left: 9%;
    margin-top: 5%;
}
#council .para{
    width: 50%;
    font-size: 18px;
    color: rgba(19, 19, 19, 0.871);
    font-family: Arial, Helvetica, sans-serif;
}
#council .heading h2{
    font-weight: 100;
    font-size: 35px;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: rgb(0, 29, 114);
}
.space{
    width: 95%;
    height: 5rem;
    background-color: #f2f2f2;
}

.council_image{
    width: 100%;
    height: 38rem;
    margin-top: 8%;
    bottom: 0;
}
.image_text{
    display: flex;
    width: 95%;
}
.image_text .text{
    margin-top: 18rem;
    padding: 2rem;
    color: white;
}
.image_text h1{
    margin-left: 2rem;
    width: 32rem;
    text-decoration: underline green;
}
.image_text p{
    font-size: 18px;
    margin-top: 10px;;
}
hr{
    margin-left: 12%;
}
.data{
    display: flex;
}
.data .photo{
    margin-left: 60%;
    width: 250px;
    height: 200px;
    position: absolute;
}
.data img{
    width:250px;
    height: 200px;
}

